<h1>Hello, {{.Name}}</h1>
<p>
  I have a dog called {{.Dog}}.
</p>
<p>
  Int: {{.Int}}
</p>

<p>
  Float: {{.Float}}
</p>

<p>
  Slice: {{.Slice}}
</p>

<p>
  Map: {{.Map}}
</p>

<pre>
  Pre Map: {{.Map}}
</pre>

